H3/XML/XML H3SCHOOL/XML H3SCHOOL MVC/XML H3SCHOOL MVC/SchemaXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="teams">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="team">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="students">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="student">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="firstname" type="xs:string" />
                                <xs:element name="lastname" type="xs:string" />
                                <xs:element name="age" type="xs:unsignedByte" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="subjects">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="subject">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="optional" />
                              <xs:attribute name="suid" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="classroomid" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="classrooms">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="classroom">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>